@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:100,200,300,400');

/* Make sure html, body, and #root fill the entire viewport height */
html, body, #root {
  height: 100%;
  padding: 0;
  margin-left: 1em;
  margin-right: 1em;
}

#root {
  display: flex;
  flex-direction: column;
}

header {
  top: 0;
  position: sticky;
}

footer {
  bottom: 0;
}

header, footer {
  z-index: 999;
  background-color: white;
}

hgroup {
  text-align: center;
  margin: 0;
}

.container {
  flex-grow: 1; /* This makes the main content fill the available space */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Optionally center the content vertically */
}

.flex-v {
  display: flex;
  flex-direction: column !important;
  flex-grow: 1;
}

.flex-h {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  gap: 0.5em;
}