@import "font";

body {
  margin: 0;
  padding: 0;
}

.flex-v {
  display: flex;
  flex-direction: column !important;
  flex-grow: 1;
}

.flex-h {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
}